html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  top: 0px;
  left: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1366px;
  height: 4384px;
}